.layer {
  opacity: 0.5 !important;
  transition: opacity linear 0.3s;
}
.active .layer {
  opacity: 0 !important;
  transition: opacity linear 0.3s;
}
.mask2 {
  -webkit-mask-image: radial-gradient(
    circle,
    black 50%,
    rgba(0, 0, 0, 0.5) 50%
  );
  mask-image: radial-gradient(circle, black 10%, rgba(0, 0, 0, 0) 90%);
}
.detailsSliderDiv {
  display: none;
}
/* #detailsImg2 {
  top: 50%;
} */
@media screen and (max-width: 575px) {
  :root {
    font-size: small !important;
  }
  .row {
    padding: 20px !important;
    margin: 0px !important;
  }
  .detailsSliderDiv {
    display: block;
  }
}
